html {
	font-family: sans-serif;
	font-weight:100;
	font-size: 11pt;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	text-align: justify;
	padding-left: 8%;
	padding-right: 8%;
	padding-bottom: 5%;
	padding-top: 2%;
	line-height: 200%;
}

body a {
	color: #2580a2;
	text-decoration: none;
}

h1 {
   font-weight: normal;
}

h2 {
   font-weight: normal;
}

h3 {
   font-weight: normal;
}

pre {
    line-height: 110%;
}

div#table-of-contents {
    line-height: 120%;
}

div#postamble {
    line-height: 120%;
}

div#bibliography {
    line-height: 120%;
}
